.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/* .nav{
    background: rgba(10, 35, 54, 0.989);
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: 5px 5px 5px rgb(31, 51, 181);
} */
.li{
    list-style-type:none;
}
.filters{
    background-color: rgba(10, 35, 54, 0.989);
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: 5px 5px 5px rgb(31, 51, 181);
    padding-top: 10px;
    font-size: 20px;
    
}
.selected:hover{
    background: rgb(101, 133, 153);
}
.selected{
    margin: 10px;
   /*  margin-top: 25px; */
    border-radius: 15px;
    background-color: rgb(243, 227, 5);

}
.navBar{
    padding-top: 20px;
    /* display: grid;
    grid-template-rows: 3ch auto minmax(10px, 60px); */
}
.navDown{
    background-color: rgba(10, 35, 54, 0.989);
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: 5px 5px 5px rgb(31, 51, 181);
    padding-top: 10px;
}
/* .container{
    padding-top: 25px;
}
 */
.prueba{
margin-top: 3vh;
}
.error{
    width: 100%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
}