* {
    padding: 0;
    /* margin-top: 20px; */
    box-sizing: content-box;
    border-radius: 15px 0px 0px 15px;
    
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    
}
/*container principal */
.supreme_container {
    /* background-color: #fcfc00d6;  */
    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    ;
        

}

.second_container {
    display: block;
    justify-content: center;
    align-items: center;
    
       
   

}
 /*contenedor del logo*/
.container_logo {
    
    margin-top: 55px;
    display:inline-flex;
    width: 25%;
    height: 25%;
    /* transition: 0.5s; */
    /* background-color: #fe974e;  */
    background: linear-gradient(to bottom, #f60f11, #26ae30); /* Cambia los valores de los colores (#f00 y #00f) según tus necesidades */
    border-radius: 13px;
} 

.container_logo:hover {
    
    animation: bounce 4s ease-in-out;
  }
  
  @keyframes bounce {
    0% {
      transform: translate3d(0, 0, 0);
    }
    20% {
      transform: translate3d(0, -20px, 0) translateX(-10px) skew(5deg);
    }
    40% {
      transform: translate3d(0, 0, 0) translateX(10px) skew(-5deg);
    }
    60% {
      transform: translate3d(0, -10px, 0) translateX(-5px) skew(5deg);
    }
    80% {
      transform: translate3d(0, 0, 0) translateX(5px) skew(-5deg);
    }
    100% {
      transform: translate3d(0, 0, 0) translateX(0) skew(0);
    }
  }
  
/*contedor de la cinta*/
.container_cinta:hover {
    background-color: transparent;
    animation: bounce 4s ease-in-out;
}

    @keyframes bounce {
        0% {
          transform: translate3d(0, 0, 0);
        }
        20% {
          transform: translate3d(0, -20px, 0) translateX(-10px) skew(5deg);
        }
        40% {
          transform: translate3d(0, 0, 0) translateX(10px) skew(-5deg);
        }
        60% {
          transform: translate3d(0, -10px, 0) translateX(-5px) skew(5deg);
        }
        80% {
          transform: translate3d(0, 0, 0) translateX(5px) skew(-5deg);
        }
        100% {
          transform: translate3d(0, 0, 0) translateX(0) skew(0);
        }

}

.container_link:hover {
    
    background-color: #fff;
    border: 5px solid #f60f11;
    box-shadow: 0 0 1rem #2ab836, 0 0 1rem #2ab836, 0 0 1rem  #2ab836;
    border-radius: 15px;
}
   
  

.container_link {
    
    animation: bounce 4s ease-in-out;

    

    
    
    /* margin-left: 150px;
    background-color: #fff;
    border: 1px solid #ff5600;;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    transition: 3s; */
}
/*

.container_link:hover {
    background-color: #fff;
    border: 1px solid #1c7;
    box-shadow: 0 0 1rem rgb(0, 255, 128), 0 0 1rem rgb(0, 255, 128), 0 0 1rem rgb(0, 255, 128);
}

/*link Inicio*/
.link {
    font-size: 70PX;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #2bc634;
}

.link:hover {
    color: #fcfc;
}




