.containerNav{
    max-width: 100%;
    color: black;
 }

 .number{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    color: black;
 }

 .button {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.1em 1em;
    padding-left: 2vw;
    padding-right: 2vw;
    font-weight: 900;
    font-size: 1.2rem;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    color: black;
   }
   
   .button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    border: black 5px solid;
    
   }
   
   .button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }